/* reset margin & padding from css */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content  {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.ship-container {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-bottom: 2vh;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 4vw auto;
}

.btn-container-computer {
    text-align: right;
}

.btn-container-player {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 5vw;
}

.btn-container-player > button {
    margin-bottom: 1vh;
    margin-left: 1vw;
}

#grid1,
#grid2 {
    display: grid;
    grid-template-columns: repeat(10, 4vw);
    grid-template-rows: repeat(10, 4vh);
}

#grid1 > div,
#grid2 > div {
    border: 0.5px solid black;
}

#grid2 :hover {
    background-color: grey;
}

.miss {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.carrier {
    background-image: url('./icons/carrier.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.battleship {
    background-image: url('./icons/battleship.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.cruiser {
    background-image: url('./icons/cruiser.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.submarine {
    background-image: url('./icons/submarine.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.destroyer {
    background-image: url('./icons/destroyer.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.hit { /* overrides the ship img after hit */
    background-image: url('./icons/hit.png');
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.game-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
    gap: 5vw;
}

#scoreboard {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vh;
    padding: 2.5vh 2.5vw;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 3px;
}